/* 
KNACSS.com @author : Raphael Goetter, Alsacreations
Licence CC-BY http://creativecommons.org/licenses/by/3.0/fr/
*/


/* ----------------------------- */
/* summary                       */
/* ----------------------------- */
/*
1- colors
2- reset
3- layout and modules
4- header
5- sidebar
6- footer
7- forms
8- main
9- iefix
10- print
11- mobile
*/

/* ----------------------------- */
/* ==colors                      */
/* ----------------------------- */


/* ----------------------------- */
/*   ==reset                     */
/* ----------------------------- */

/* base font-size corresponds to 10px */
html {font-size: 62.5%;} 
body {
    background-color: #fff;
    color: #000;
    font-family: "Century Gothic", arial, helvetica, sans-serif;
    line-height: 1.4; /* adapt to your design */
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}

/* soft reset */
html, body, blockquote, ul, ol, form {margin: 0; padding: 0;}
ul, ol {padding-left: 2em}

/* font-sizing for content */
p, li, td, th, textarea {font-size: 1.4em;}
li li, li p, td p, th p, li h1, li h2, li h3, li h4, li h5, li h6, input {font-size: 100%;}
h1, .h1-like {font-size: 2.4em; } /* 24 pixels */
h2, .h2-like {font-size: 2.0em; } /* 20 pixels */
h3, .h3-like {font-size: 1.8em; } /* 18 pixels */
h4, .h4-like {font-size: 1.6em; } /* 16 pixels */
h5, .h5-like {font-size: 1.4em; } /* 14 pixels */

/* avoid collapsing margins */
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, p:first-child {
    margin-top: 0;
}

/* avoid last paragraph bottom margin */
p:last-child {margin-bottom: 0;} 

/* styling headings */
.h1-like {}
.h2-like {}
.h3-like {}
.h4-like {}
.h5-like {}
.h6-like {}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
    max-width: 100%; height: auto;
}

/* you shall not pass */
textarea, table, td, th, code, pre, samp, div, p {
    word-wrap: break-word;
}
code, pre, samp {
    white-space: pre-wrap;
}

/* links */
a img {border: 0;}

/* icons */

/* buttons */
.btn {
	display: inline-block;
}
.btn.alternate {}
.btn.highlight {}
.login {}
.logout {}
.primary {}
.warning {}
.error {}
.success {}

/* gradients */
/* http://www.colorzilla.com/gradient-editor/ */


/* ----------------------------- */
/* ==layout and modules          */
/* ----------------------------- */

/*  switching box model for all elements */
* { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
}

/* float layout */
/* ----------- */

/* block that can contains several .mod , can contains floats */
.line {} 
/*  module, contains floats */
.mod {
    padding: 1em;
}

/* generaly inside .mod, can contains .item */ 
.items {}

/* fluid, contains floats, can be placed next to a float */
.item { 
    overflow: hidden;
}

/* table layout */
/* ------------------ */
.row {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.row > *, .col {
    display: table-cell;
    padding: 1em;
}

/* 1em gutter between elements if parent is .gut */ 
.line.gut > * + * { 
    margin-left: 1em;
}
.row.gut > * + * { 
    border-left: 1em solid #fff; /* must be color of parent background */
}

/* blocks that needs to be placed under floats */ 
.clear, .line, .row {
    clear: both;
}

/* blocks that can contains floats */ 
.clearfix:after, .line:after, .mod:after {
    content: "";
    display: table;
    clear: both;
}

/* alignments (blocks and inline) */
/* ----------------------------- */

/* left and 1em gutter */
.left {
    float: left; margin-right: 1em
}

/* right and 1em gutter */
.right {
    float: right; margin-left: 1em
} 
.center {margin: auto;}
.txtleft {text-align: left;}
.txtright {text-align: right;}
.txtcenter {text-align: center;}

/* blocks widths (percentage and pixels) */
.w10 {width: 10%}
.w20 {width: 20%}
.w25 {width: 25%}
.w30 {width: 30%}
.w33 {width: 33.33%}
.w40 {width: 40%}
.w50 {width: 50%}
.w60 {width: 60%}
.w70 {width: 70%}
.w80 {width: 80%}
.w90 {width: 90%}
.w100 {width: 100%}

.w50p {width: 50px}
.w100p {width: 100px}
.w150p {width: 150px}
.w200p {width: 200px}
.w300p {width: 300px}
.w400p {width: 400px}
.w500p {width: 500px}
.w600p {width: 600px}
.w700p {width: 700px}
.w800p {width: 800px}
.w960p {width: 960px}
.mw960p {max-width: 960px}

/* margins */
.mt1 {margin-top: 1em}
.mt2 {margin-top: 2em}
.mr1 {margin-right: 1em}
.mr2 {margin-right: 2em}
.mb1 {margin-bottom: 1em}
.mb2 {margin-bottom: 2em}
.ml1 {margin-left: 1em}
.ml2 {margin-left: 2em}

/* hiding content */
.visually-hidden { /* always hidden for screens */
    position: absolute; left:-7000px; text-indent:-7000px; overflow: hidden
} 
.desktop-hidden {display: none;}  /* hidden on desktop */
.mobile-hidden {}  /* hidden on mobile */
.tablet-hidden {}  /* hidden on tablets */
.phone-hidden {}  /* hidden on smartphones */

/* ----------------------------- */
/* ==header                      */
/* ----------------------------- */

/* ----------------------------- */
/* ==sidebar                     */
/* ----------------------------- */

/* ----------------------------- */
/* ==footer                      */
/* ----------------------------- */

/* ----------------------------- */
/* ==forms                       */
/* ----------------------------- */

form, fieldset {
  border: none;
}
input, button, select {
  vertical-align: middle; /* @bugfix alignment */
}

/* ----------------------------- */
/* ==main                        */
/* ----------------------------- */

/* ----------------------------- */
/* ==iefix                       */
/* ----------------------------- */

/* haslayout for IE6/IE7 */
.ie7 .clearfix,.ie7 .line, .ie7 .mod, .ie7 .row, .ie7 .col {
    zoom: 1; 
}

/* inline-block and table-cell for IE6/IE7 */
.ie7 .btn, .ie7 .col { 
    display: inline;
    zoom: 1;
}

/* box-sizing for IE6/IE7 */
/* https://github.com/Schepp/box-sizing-polyfill
.ie7 *  {
    behavior: url(/js/boxsizing.htc);
}
*/

/* ----------------------------- */
/* ==print                       */
/* ----------------------------- */

/* quick print reset */
@media print {
    p, blockquote {orphans: 2; widows: 2;}
    blockquote, ul, ol {page-break-inside: avoid;}
    h1, h2, h3, caption { page-break-after: avoid;}
}

/* ----------------------------- */
/* ==mobile                      */
/* ----------------------------- */

/* quick smartphone reset */
@media (max-width: 640px) {
    .phone-hidden {display: none}
    .mod, .col {
    	display: block  !important;
    	margin: 0 !important;
    	border: 0 !important;
    	float: none !important;
    	width: auto !important;
    }
    [class*="mw"], [class*="w9"], [class*="w8"],
    [class*="w7"], [class*="w6"], [class*="w5"],
    [class*="w4"], [class*="w3"] {
        width: auto;
    }
}